.containers {
  width: 50%;
  margin: auto;
}

.first-paragraph {
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.parent-list {
  padding-left: 0rem;
}

li {
  list-style: none;
  margin: 1rem 0;
}

.responses {
  background-color: #eeeeee;
  max-height: 600px;
  padding: 10px;
}

textarea {
  border: 2px solid #e9e9e9;
}

button.right {
  float: right;
}
